<div class="cover-empty-wrap">
  <h1 class="app-text">Your Areas</h1>
</div>

<div class="areas-container">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% @areas.each do |area| %>
      <%= link_to area, class: "area-link" do%>
        <div class="area" style="background-image: url(<%= asset_path area.image_url %>);">
          <span class="area-text">
            <h3 class="app-text"><%= area.title %></h3>
            <p class="app-text"><%= area.description %></p>
          </span>
        </div>
      <% end %>
  <% end %>
  <br>
  <%= link_to 'New Area', new_area_path %>
</div>
