<div class="cover-empty-wrap">
  <div class="areas-header">
    <h1 class="app-text">Your Areas
        <div class="area-buttons">
          <%= link_to 'New', new_area_path, class: "ica-button green-button" %>
        </div>
    </h1>
  </div>
</div>

<div class="areas-container">
  <% @areas.each do |area| %>
      <%= link_to area, class: "area-link" do%>
        <div class="area" style="background-image: url(<%= asset_path area.image.url %>);">
          <span class="area-text">
            <h3 class="app-text"><%= area.title %></h3>
            <p class="app-text"><%= area.description %></p>
          </span>
        </div>
      <% end %>
  <% end %>
  <br>
</div>
